<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../style/index.css">
<title>kosta 100 Lee HomePage(board)</title>
</head>
<body>

<header>
<div class="headerFont"><a href="http://localhost/MyHomePage/jsp/view/index.html">이광용의 웹 다이어리</a></div>
<div class="headerView">
	<dl class="mainList">
		<dd><a href="http://localhost/MyHomePage/jsp/view/index.html">소&nbsp;&nbsp;&nbsp;개</a></dd>
		<dd><a href="http://localhost/MyHomePage/jsp/view/guestBook.html">방 명 록</a></dd>
		<dd><a href="http://localhost/MyHomePage/jsp/view/board.html">게 시 판</a></dd>
		<dd><a href="http://localhost/MyHomePage/jsp/view/download.html">자 료 실</a></dd>
	</dl>
</div>
</header>



<div class="mainView">

	<div class="contentView">
	<div class="titleText">게시판</div>
	</div>
	
	
	
	
	<div class="loginView">
		<div class="loginHeaer">로 그 인</div>
		<div class="loginBox">
			<input type=text class="loginTF" name="loingId" id="loingId" size=15 placeholder="아이디">
			<input type=password class="loginTF" name="loingPw" name="loingPw" size=15 placeholder="비밀번호">
			<div class="loginButtonBox">
				<button>로그인</button>&nbsp;
		  		<input type="button" name="join" value="회원가입" onclick="location.href='http://localhost/MyHomePage/jsp/view/join.html'";>
			</div>
	</div>
	</div>
	
	<div class="sideMenu">사이드 메뉴</div>
</div>
<footer>
	<div>Copyright Lee Gwangyong All Right Reserved.</div><br>
	<div>Contact us, moyaiori@naver.com</div>
</footer>

</body>


</html>